[submodule "conkeror/themes/conkeror-theme-zenburn"]
	path = conkeror/themes/conkeror-theme-zenburn
	url = https://github.com/ivoarch/conkeror-theme-zenburn
[submodule "stumpwm.d/modules"]
	path = stumpwm.d/modules
	url = https://github.com/stumpwm/stumpwm-contrib
