'scopeName': 'source'
'name': 'HEBI'
'injectionSelector': 'comment, text.plain'
# 'fileTypes': ['hebi'] HEBI
# TODO FIXME HEBI
# PDF: fd UNIV
'patterns': [
  {
    'match': '(?<!\\w)@?(CONF|PROBLEM|CONTRIB|DOWN|TECHNIQUE|BENCHMARK|RELATED|UNIV|ALIAS|DEFINITION|TOOL|POINT)\\b'
    'name': 'smart-scholar.type.${1:/downcase}'
  }
  {
    'match': '(?<!\\w)@?HEBI\\b.*'
    'name': 'hebi'
  }
  {
    'match': '(?<!\\w)@?STEP\\b.*'
    'name': 'hebi-step'
  }
  {
    'match': 'PDF: [^\\s]+'
    'name': 'smart-scholar.type.pdf'
  }
]
