'scopeName': 'source'
'name': 'HEBI'
'injectionSelector': 'comment, text.plain'
# 'fileTypes': ['hebi'] HEBI TODO FIXME HEBI PDF: fd UNIV
'patterns': [
  {
    'match': '(?<!\\w)@?(CONF|PROBLEM|CONTRIB|DOWN|TECHNIQUE|UNIV|ALIAS)\\b'
    'name': 'smart-scholar.type.${1:/downcase}'
  }
  {
    'match': '(?<!\\w)@?HEBI\\b.*'
    'name': 'hebi'
  }
  {
    'match': 'PDF: [^\\s]+'
    'name': 'smart-scholar.type.pdf'
  }
]
