'.platform-linux .editor':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-b': 'core:move-left'
  'ctrl-f': 'core:move-right'
  'ctrl-d': 'core:delete'
  'ctrl-h': 'core:backspace'
  'cmd-f': 'find-and-replace:toggle'
  'cmd-=': 'editor:auto-indent'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-a': 'editor:move-to-first-character-of-line'
