'.editor':
  'ctrl-=': 'editor:auto-indent'
  'ctrl-u': 'core:move-to-top'
  'ctrl-j': 'core:move-to-bottom'
  'ctrl-t': 'symbols-view:return-from-declaration'
  'ctrl-]': 'symbols-view:go-to-declaration'
  'cmd-escape': 'hebi:switch-pane-item'
  'cmd-ctrl-h': 'switch-header-source:switch'

# Linux

'.platform-linux .editor':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'ctrl-b': 'core:move-left'
  'ctrl-f': 'core:move-right'
  'ctrl-d': 'core:delete'
  'ctrl-h': 'core:backspace'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'cmd-f': 'find-and-replace:toggle'
  'cmd-s': 'core:save'
'.platform-linux, .platform-linux .command-palette .editor':
  'cmd-shift-p': 'command-palette:toggle'
'atom-workspace atom-text-editor:not([mini])':
  'cmd-enter': 'editor:newline-below'
  'cmd-shift-enter': 'editor:newline-above'
'.platform-linux':
  'cmd-a': 'core:select-all'
  'cmd-,': 'application:show-settings'
  'cmd-w': 'core:close'
  'cmd-z': 'core:undo'
  'cmd-y': 'core:redo'
  'cmd-l': 'editor:select-line'
  'cmd-t': 'fuzzy-finder:toggle-file-finder'
  'cmd-]': 'editor:indent-selected-rows'
  'cmd-[': 'editor:outdent-selected-rows'
  'cmd-enter': 'editor:newline-below'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-]': 'symbols-view:go-to-declaration'
'.editor.vim-mode':
  'ctrl-c': 'core:copy'
