/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org TODO HEBI TODO
 */

@import "ui-variables";
@import "syntax-variables";

.tree-view {

}

.editor {

}

.editor .cursor {

}

atom-text-editor::shadow {
  .find-result .region {
    border: 1px solid red;
  }
  .current-result .region {
    border: 1px solid yellow;
  }
  .hebi {
    color: white;
    background-color: @background-color-error;
  }
  .bibtitle {
    color: white;
    background-color: @background-color-info;
  }
  .bibtex.comment {
    color: white;
  }


  .smart-scholar.type.pdf {
    color: @text-color-info;
  }
  .smart-scholar.type.univ {
    color: @text-color-info;
  }
  .smart-scholar.type.conf {
    color: @text-color-info;
  }
  .smart-scholar.type.down {
    color: @text-color-error;
  }
  .smart-scholar.type.problem {
    color: @text-color-success;
  }
  .smart-scholar.type.technique {
    color: @text-color-success;
  }
  .smart-scholar.type.contrib {
    color: @text-color-success;
  }
  .smart-scholar.type.alias {
    color: @text-color-info;
  }
  .smart-scholar.type.related {
    color: @text-color-info;
  }
  .smart-scholar.type.benchmark {
    color: @text-color-info;
  }
}
